includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/pepakriz/phpstan-exception-rules/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - tests/PHPStan/disallowedCalls.neon
    - tests/PHPStan/conditional.config.php

parameters:
    level: max
    paths:
        - src

    exceptionRules:
        uncheckedExceptions:
            - LogicException
            - Nette\InvalidStateException
            - Psr\Container\ContainerExceptionInterface

    ignoreErrors:
        - '~Call to an undefined method ReflectionType::getName\(\)~'
        - # false positive
            path: src/MessageBus/StaticAnalysis/ReflectionHelper.php
            message: '~ReflectionException is never thrown in the corresponding try block~'
            count: 1
        - # false positive
            path: src/MessageBus/StaticAnalysis/ConfigurableHandlerValidator.php
            message: "#^Parameter \\#1 \\$type of method Nepada\\\\MessageBus\\\\StaticAnalysis\\\\Rules\\\\ShortClassNameMatchesRule\\:\\:validate\\(\\) expects class\\-string, string given\\.$#"
            count: 1
        - # intended
            path: src/MessageBus/StaticAnalysis/HandlerType.php
            message: "#^Parameter \\#1 \\$type of class Nepada\\\\MessageBus\\\\StaticAnalysis\\\\HandlerType constructor expects class\\-string\\<T of Symfony\\\\Component\\\\Messenger\\\\Handler\\\\MessageHandlerInterface\\>, string given\\.$#"
            count: 1
        - # false positive
            path: src/MessageBus/StaticAnalysis/HandlerType.php
            message: "#^Call to function is_subclass_of\\(\\) with class\\-string\\<T of Symfony\\\\Component\\\\Messenger\\\\Handler\\\\MessageHandlerInterface\\> and class\\-string\\<TOther of Symfony\\\\Component\\\\Messenger\\\\Handler\\\\MessageHandlerInterface\\> will always evaluate to true\\.$#"
            count: 1
        - # false positive
            path: src/MessageBus/Middleware/LoggingMiddleware.php
            message: "#^Throwable is never thrown in the corresponding try block$#"
            count: 1
        - # false positive
            path: src/MessageBus/Middleware/LoggingMiddleware.php
            message: "#^Missing @throws Throwable annotation$#"
            count: 1
        - # false positive
            path: src/MessageBus/Commands/MessengerCommandBus.php
            message: "#^Symfony\\\\Component\\\\Messenger\\\\Exception\\\\HandlerFailedException is never thrown in the corresponding try block$#"
            count: 1
        - # intended
            path: src/MessageBus/Commands/MessengerCommandBus.php
            message: "#^Missing @throws Throwable annotation$#"
            count: 1
        - # intended
            path: src/MessageBus/Commands/MessengerCommandBus.php
            message: "#^Missing @throws Symfony\\\\Component\\\\Messenger\\\\Exception\\\\HandlerFailedException annotation$#"
            count: 1
