includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/nepada/phpstan-nette-tester/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
    - tests/PHPStan/disallowedCalls.neon
    - tests/PHPStan/shipmonk.neon
    - tests/PHPStan/conditional.config.tests.php

parameters:
    level: max
    paths:
        - tests

    fileExtensions:
        - php
        - phpt

    excludePaths:
        - tests/temp/*

    ignoreErrors:
        - # intended
            message: "#^Parameter \\#1 \\$type of static method Nepada\\\\MessageBus\\\\StaticAnalysis\\\\HandlerType\\<Symfony\\\\Component\\\\Messenger\\\\Handler\\\\MessageHandlerInterface\\>\\:\\:fromString\\(\\) expects class\\-string\\<Symfony\\\\Component\\\\Messenger\\\\Handler\\\\MessageHandlerInterface\\>, string given\\.$#"
            count: 1
            path: tests/MessageBus/StaticAnalysis/Commands/CommandHandlerValidatorTest.phpt
        - # intended
            message: "#^Parameter \\#1 \\$type of static method Nepada\\\\MessageBus\\\\StaticAnalysis\\\\HandlerType\\<Symfony\\\\Component\\\\Messenger\\\\Handler\\\\MessageHandlerInterface\\>\\:\\:fromString\\(\\) expects class\\-string\\<Symfony\\\\Component\\\\Messenger\\\\Handler\\\\MessageHandlerInterface\\>, string given\\.$#"
            count: 1
            path: tests/MessageBus/StaticAnalysis/Events/EventSubscriberValidatorTest.phpt
        -
            message: "#^Parameter \\#1 \\$callback of function array_map expects \\(callable\\(array\\<Symfony\\\\Component\\\\Messenger\\\\Stamp\\\\StampInterface\\>\\|Symfony\\\\Component\\\\Messenger\\\\Stamp\\\\StampInterface\\)\\: mixed\\)\\|null, Closure\\(Symfony\\\\Component\\\\Messenger\\\\Stamp\\\\HandledStamp\\)\\: string given\\.$#"
            count: 1
            path: tests/MessageBus/Middleware/LoggingMiddlewareTest.phpt
        - # false positive
            message: "#^Invalid var phpdoc of \\$handledStamps\\. Cannot assign array\\<array\\<Symfony\\\\Component\\\\Messenger\\\\Stamp\\\\StampInterface\\>\\|Symfony\\\\Component\\\\Messenger\\\\Stamp\\\\StampInterface\\> to array\\<Symfony\\\\Component\\\\Messenger\\\\Stamp\\\\HandledStamp\\>$#"
            count: 1
            path: tests/MessageBus/Middleware/PreventNestedHandlingMiddlewareTest.phpt
