includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/nepada/phpstan-nette-tester/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
    - tests/PHPStan/disallowedCalls.neon
    - tests/PHPStan/shipmonk.neon
    - tests/PHPStan/conditional.config.tests.php

parameters:
    level: max
    paths:
        - tests

    fileExtensions:
        - php
        - phpt

    excludePaths:
        - tests/temp/*

    exceptions:
        uncheckedExceptionClasses:
            - Throwable

    ignoreErrors:
        - # intended
            message: "#^Parameter \\#1 \\$type of static method Nepada\\\\MessageBus\\\\StaticAnalysis\\\\HandlerType\\<Nepada\\\\MessageBus\\\\Commands\\\\CommandHandler\\|Nepada\\\\MessageBus\\\\Events\\\\EventSubscriber\\>\\:\\:fromString\\(\\) expects class\\-string\\<Nepada\\\\MessageBus\\\\Commands\\\\CommandHandler\\|Nepada\\\\MessageBus\\\\Events\\\\EventSubscriber\\>, string given\\.$#"
            count: 1
            path: tests/MessageBus/StaticAnalysis/Commands/CommandHandlerValidatorTest.phpt
        - # intended
            message: "#^Parameter \\#1 \\$type of static method Nepada\\\\MessageBus\\\\StaticAnalysis\\\\HandlerType\\<Nepada\\\\MessageBus\\\\Commands\\\\CommandHandler\\|Nepada\\\\MessageBus\\\\Events\\\\EventSubscriber\\>\\:\\:fromString\\(\\) expects class\\-string\\<Nepada\\\\MessageBus\\\\Commands\\\\CommandHandler\\|Nepada\\\\MessageBus\\\\Events\\\\EventSubscriber\\>, string given\\.$#"
            count: 1
            path: tests/MessageBus/StaticAnalysis/Events/EventSubscriberValidatorTest.phpt
        - # intentional for tests
            message: "#^Method NepadaTests\\\\MessageBus\\\\StaticAnalysis\\\\Commands\\\\Fixtures\\\\HandleMethodHasNoReturnTypeHandler\\:\\:__invoke\\(\\) has no return type specified\\.$#"
            count: 1
            path: tests/MessageBus/StaticAnalysis/Commands/Fixtures/HandleMethodHasNoReturnTypeHandler.php
        - # intentional for tests
            message: "#^Method NepadaTests\\\\MessageBus\\\\StaticAnalysis\\\\Events\\\\Fixtures\\\\HandleMethodHasNullReturnTypeOnSomethingValidHappened\\:\\:__invoke\\(\\) has no return type specified\\.$#"
            count: 1
            path: tests/MessageBus/StaticAnalysis/Events/Fixtures/HandleMethodHasNullReturnTypeOnSomethingValidHappened.php
        - # intentional for tests
            message: "#^Missing native return typehint (never|void)#"
            count: 1
            path: tests/MessageBus/StaticAnalysis/Commands/Fixtures/HandleMethodHasNoReturnTypeHandler.php
        - # intentional for tests
            message: "#^Missing native return typehint (never|void)$#"
            count: 1
            path: tests/MessageBus/StaticAnalysis/Events/Fixtures/HandleMethodHasNullReturnTypeOnSomethingValidHappened.php
