includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
    - tests/PHPStan/disallowedCalls.neon
    - tests/PHPStan/shipmonk.neon
    - tests/PHPStan/conditional.config.php

parameters:
    level: max
    paths:
        - src

    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - LogicException
            - Nette\InvalidStateException
            - Psr\Container\ContainerExceptionInterface
            - Symfony\Component\Messenger\Exception\ExceptionInterface

    ignoreErrors:
        - '~Call to an undefined method ReflectionType::getName\(\)~'
        - # false positive
            path: src/MessageBus/StaticAnalysis/ConfigurableHandlerValidator.php
            message: "#^Parameter \\#1 \\$type of method Nepada\\\\MessageBus\\\\StaticAnalysis\\\\Rules\\\\ShortClassNameMatchesRule\\:\\:validate\\(\\) expects class\\-string, string given\\.$#"
            count: 1
        -
            message: "#^Method Nepada\\\\MessageBus\\\\StaticAnalysis\\\\ReflectionHelper\\:\\:requireClassReflection\\(\\) has Nepada\\\\MessageBus\\\\StaticAnalysis\\\\StaticAnalysisFailedException in PHPDoc @throws tag but it's not thrown\\.$#"
            count: 1
            path: src/MessageBus/StaticAnalysis/ReflectionHelper.php
        -
            message: "#^Dead catch \\- ReflectionException is never thrown in the try block\\.$#"
            count: 1
            path: src/MessageBus/StaticAnalysis/ReflectionHelper.php
        - # false positive
            path: src/MessageBus/Middleware/LoggingMiddleware.php
            message: "#^Dead catch - Throwable is never thrown in the try block\\.$#"
            count: 1
        - # false positive
            path: src/MessageBus/Commands/MessengerCommandBus.php
            message: "#^Dead catch - Symfony\\\\Component\\\\Messenger\\\\Exception\\\\HandlerFailedException is never thrown in the try block\\.#"
            count: 1
        - # false positive
            message: "#^Casting to string something that's already string\\.$#"
            count: 1
            path: src/MessageBus/StaticAnalysis/MessageType.php
        -
            message: "#^Method Nepada\\\\MessageBus\\\\StaticAnalysis\\\\HandlerType\\:\\:fromHandler\\(\\) should return Nepada\\\\MessageBus\\\\StaticAnalysis\\\\HandlerType\\<T of Nepada\\\\MessageBus\\\\Commands\\\\CommandHandler\\|Nepada\\\\MessageBus\\\\Events\\\\EventSubscriber\\> but returns Nepada\\\\MessageBus\\\\StaticAnalysis\\\\HandlerType\\<Nepada\\\\MessageBus\\\\Commands\\\\CommandHandler\\|Nepada\\\\MessageBus\\\\Events\\\\EventSubscriber\\>\\.$#"
            count: 1
            path: src/MessageBus/StaticAnalysis/HandlerType.php
